@import url(//fonts.googleapis.com/css?family=Lexend);
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
      box-sizing: border-box;
      margin: 0; padding: 0;
    }


    .all {
      font-family: 'Lexend', sans-serif;
        padding: 5px;
        color: rgba(58,58,74,.9);
        max-width: 90%;
        margin:10px;
    }

    .infocontainer {
      float: left;
      width: 80%;
      margin-right: 15px;
      margin-bottom: 20px;
        }

  div.a {
    margin-top: 2px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 8px;
    margin-left: 15px;
    font-family: 'Lexend', sans-serif;
  }

  .hex a{
    font-family: 'Playfair Display', sans-serif;
    font-style: italic;
    color: #7e2947;
    font-size: 20px;
  }


a {text-decoration: none;
  color: #161616;
}

 .xmas {
   color:#8b1b42;
   font-size: 30px;
   padding-bottom: 4px;
   text-align: center;
 }



  a:hover {
      color: #95a1b8;
      cursor: pointer;
  }

  header {
      text-align: left;
      margin-top: 2px;
      margin-bottom: 20px;
      padding-top: 5px;
      padding-bottom: 8px;
      box-shadow: 0 4px 2px -2px #dee0e3;
  }

  .uncap {
      text-transform: lowercase;
  }

  .title{
      text-transform: capitalize;
  }

  h1{
    color: black;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    padding-bottom: 4px;
    margin-left: 15px;
    width: 85%;
    text-transform: capitalize;
  }


  h2{
    color: black;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    padding-top: 11px;
    padding-bottom: 5px;
    text-transform: capitalize;
    margin-left: 20px;
    max-width: 85%;
  }

  h3{
      padding-top: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      color: rgba(58,58,74);
      font-size: 25px;
      box-shadow: 0 4px 2px -2px #dee0e3;
      width:300px;
  }

  ul{
    margin-left: 20px;
  }

  li{
      line-height: 35px;
      padding-right: 10px;
  }

  .imageslidercontainer{
      width: 100%;
      float: left;
      margin-top: 10px;
  }



  .measurements{
    /* width: 35%; */
    float: left;
    padding-bottom: 100px;
}

  .condition, .details, {
    padding-left: 15px;
    margin-left: 10px;
    font-size: 20pt;
  }

  .details span{
     line-height: 40px;
     font-weight: bold;
     color: rgba(73, 73, 102,1);
  }

.smalltype{
    font-size: smaller;
    font-weight: 400;
}

  .measurements span{
      line-height: 21px;
      color: rgba(73, 73, 102,1);
  }

  .condition span{
    line-height: 40px;
    font-weight: bolder;
    color: rgba(73, 73, 102,1);
  }

  .clearfix:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
  }


  footer {
      clear: both;
      border-top: 1px solid rgba(108, 111, 117, 0.5);
      color: #5f6675;
      margin-top: 20px;
      padding-top: 5px;
      max-width: 100%;
      margin-bottom: 20px;
  }


  .right{
      float:right;
      padding-bottom: 10px;
      padding-left: 15px;

  }

  .left{
      float:left;
      padding-left: 15px;
      padding-bottom: 10px;
  }

  table, th, td {
    text-align: left;
    border-collapse: collapse;
    box-shadow: 0px 1px 2px 1px #dee0e3;
    padding: 20px 10px 10px 10px;
    }

  tr
    {color: rgba(73, 73, 102,1);}

.rules {
    margin-top: 1px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 15px 10px 10px;
    border: 1px solid #dee0e3;
    box-shadow: 0px 1px 2px 1px #dee0e3;
    width: 90%;
    display: block;
    color:rgba(73, 73, 102,1);
    font-size: 14px;
    line-height: 25px;
}


.column {
    padding-top: 20px;
    float: left;
    width: 50%;
    height: 100%;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


@media (max-width: 480px) {
    .all {
       max-width: 100%;
       padding: 0;
margin:0;
    }
img{
    max-width: 100%;
    max-height: 250px;
}

       .slider{
         position: relative;
         padding-top: 250px;
       }
       .slider label img{
        display: block;
        border-radius: 2px;
        height: 50px !important;
        width: 48px !important;
        border: 1px solid rgba(73, 73, 102,1) !important;
    }

       .infocontainer {
        float: left;
        width: 100%;
      }

      h1{
width: 100%;
padding: 0;
margin:0;
font-size: 20px;
      }


      h2{
        width: 100%;
        padding-top: 15px;
        margin:0;

      }
      .rules {
        font-size: 10px;
    }

    .column {
        width: 100%;
      }


    }
